
body {
    background-color: #f2f6ff;
    font-family: Arial, sans-serif;
}


.registration-form {
    width: 350px;
    margin: 100px auto;
    background-color: white;
    padding: 25px;
    border: 2px solid #ccc;
    border-radius: 10px;
}


.registration-form h2 {
    text-align: center;
    margin-bottom: 20px;
}


label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}


input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-sizing: border-box;
}


input[type="submit"] {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


input[type="submit"]:hover {
    background-color: #45a049;
}
